.cards {
    padding: 4rem;
    background: #fff;
  }
  
  h1 {
    text-align: center;
  }
  
  .cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  
  .btn__primary{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #8abf2c;
    width: 105px;
    height: 70px;
    border: 0;
    margin: 0 5px 10px 5px;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 20px 20px 20px 20px;
  }


  .cards__container__recepies {
    display: flex;
    flex-flow: column;
    max-width: 1120px;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }

  .cards__wrapper2 {
    margin: 50px 0 45px;
    position: relative;
    width: 1090px;
    align-items: center;
    margin: auto;
    padding: 1.5% 0 0;
    display: -webkit-box; 
    display: -ms-flexbox;
  }

  .cards__wrapper3 {
    position: relative;
    margin: 10px 0 10px; 
  }

  
  .cards__wrapper {
    position: relative;
    margin: 50px 0 45px; 
  }

 
  .cards__items {
    margin-bottom: 24px;
  }
  
  .label {
    padding-top: 30px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
  }
  .label h4{
    padding-top: 30px;
    text-align:justify;
    font-family: 'PT Sans', sans-serif;
    margin: 0 10rem;
  }
  
  .cards__item {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    border-radius: 10px;
    margin: 8px 5px 8px 5px;
  }

  
  .cards__item1 {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    margin: 0 1em;
    border-radius: 10px;
  }

  .cards__item2 {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    margin: 0 50px;
    border-radius: 10px;
  }
  
  .cards__item3 {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    margin: 0 50px;
    border-radius: 20px;
    border: 0px solid black;
    background-color: #EBCCCC;
    
  }
  .cards__item4 {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    margin: 0 50px;
    border-radius: 20px;
    border: 0px solid black;
    background-color: #FBDCD1;

  }
  .cards__item5 {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    margin: 0 50px;
    border-radius: 20px;
    border: 0px solid black;
    background-color: #FDE9CC;
    width: 36%;

  }
  .cards__item6 {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    margin: 0 50px;
    border-radius: 20px;
    border: 0px solid black;
    background-color: #EBF5D6;

  }
  .cards__item7 {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    margin: 0 50px;
    border-radius: 20px;
    border: 0px solid black;
    background-color: #F5F5D6;

  }

  .col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
  
  .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    width: 220px;
  }

  .cards__item__link2 {
    display: list-item;
    flex-flow: row-reverse wrap;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    width: 900px;
  }

  .font{
    font-size: 20.5px;
    color: #333;
    text-align:center;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  
  .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  
  .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 14px;
    font-weight: 800;
    color: #8abf2c;
    background-color: #fff;
    box-sizing: border-box;
  }

  .cards__item__pic-wrap_e {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  
  .cards__item__pic-wrap_e::after {
    content: attr(data-category);
    position: relative;
    bottom: 0;
    padding: 3px 2px;
    max-width: calc((100%) - 60px);
    font-size: 16px;
    font-weight:800;
    color: #fff;
    background-color:#8abf2c;
    box-sizing: border-box;


  }
  

  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }

  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 140%;
    max-width: 140%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .cards__item__img:hover {
    transform: scale(1.1);
  }
  
  .cards__item__info {
    padding: 20px 20px 10px;
  }
  .cards__item__infoM{
    padding: 20px 20px 20px;
  }
  
  .cards__item__infoI{
    padding: 20px 60px 30px;
    float: left;
  }

  .cards__item__text {
    color: #252e48;
    font-size: 13px;
    line-height: 20px;
    text-align: start;
    font-family: 'Open Sans Condensed', sans-serif;
  }

  .cards__item__text__R {
    color: #252e48;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }
  .cards__item__text__e {
    color: #252e48;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
  
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }