* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.recipes,
.routines,
.log-in,
.contactus,
.Aboutus,
.sign-up,
.recipe {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}


.recipes{
  background-image: url('./components/img-css/i-e-KRGFXJWIo2Y-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  text-shadow:  #242222 -2px 5px;
}

.routines {
  background-image: url('./components/img-css/trainer2.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  text-shadow:  #242222 -2px 5px;
}

.sign-up {
  background-color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.log-in {
  background-color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}